<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"> Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div *ngIf="!isAuthenticated" class="nav navbar-right">
            <button class="btn" routerLink="{{loginRoutingLink}}">Login</button>
            <button class="btn" routerLink="{{signUpRoutingLink}}">Signup</button>
        </div>
        <div *ngIf="isAuthenticated" class="nav navbar-right">
            <button class="btn" (click)="logout()" >Logout</button>
            <button *ngIf="navigation === 'work'" class="btn" routerLink="{{uploadRoutingLink}}"> Share your work</button>
            <button *ngIf="navigation === 'profile'" class="btn" routerLink="{{profileLink}}"> Go Home</button>
        </div>
    </div>
</nav>
